html {
  font-size: 17px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Questrial', sans-serif; /* this should be the rest of the output you got from Google fonts */
}
       
 h1 {
  font-size: 60px;
  text-align: center;
    }

h1 {
  margin: 0;
  padding: 20px 0;    
  color: black;
  text-shadow: 3px 3px 20px #cacaca;
    }

 p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
    }

body {
  width: 800px;
  margin: 10 auto;
  background-color: white;
  padding: 10px 20px 50px 50px;
  border: 1px solid black;

}

img {
  display: block;
  margin: 0 auto;
}


}